In [8]:
import pandas as pd
data = pd.read_excel("practice_1.xlsx")
# print(data)
data["Bonus Amount"] = (data["Salary"]/100)*20
print(data)

  First name  Last name  Salary EEID  Bonus Amount
0       ross  tribbiani   20000   E1        4000.0
1     rachel       bing   40000   E2        8000.0
2     monica      green   25000   E7        5000.0
3       joey     geller   60000   E8       12000.0
4   chandler     buffay   33000   E4        6600.0
5     phoebe       bing   45000   E5        9000.0

In [12]:
data = {"Months": ["January","February","March","April"]}
a = pd.DataFrame(data)
# print(a)
def extract(value):
    return value[0:3]


a["Short_months"] = a["Months"].map(extract)
print(a)

     Months Short_months
0   January          Jan
1  February          Feb
2     March          Mar
3     April          Apr