In [2]:
import pandas as pd
data = pd.read_excel("ESD.xlsx")
print(data.head())

     EEID        Full Name                 Job Title Department  \
0  E02387      Emily Davis                Sr. Manger         IT
1  E04105    Theodore Dinh       Technical Architect         IT
2  E02572     Luna Sanders                  Director    Finance
3  E02832  Penelope Jordan  Computer Systems Manager         IT
4  E01639        Austin Vo               Sr. Analyst    Finance

            Business Unit  Gender  Ethnicity  Age  Hire Date  Annual Salary  \
0  Research & Development  Female      Black   55 2016-04-08         141604
1           Manufacturing    Male      Asian   59 1997-11-29          99975
2     Speciality Products  Female  Caucasian   50 2006-10-26         163099
3           Manufacturing  Female  Caucasian   26 2019-09-27          84913
4           Manufacturing    Male      Asian   55 1995-11-20          95409

   Bonus %        Country       City  Exit Date
0     0.15  United States    Seattle 2021-10-16
1     0.00          China  Chongqing        NaT
2     0.20  United States    Chicago        NaT
3     0.07  United States    Chicago        NaT
4     0.00  United States    Phoenix        NaT

In [3]:
gp = data.groupby("Department").agg({"Gender":"count"})
print(gp)

                 Gender
Department
Accounting           96
Engineering         158
Finance             120
Human Resources     125
IT                  241
Marketing           120
Sales               140

In [4]:
gp = data.groupby(["Department","Gender"]).agg({"EEID":"count"})
print(gp)

                        EEID
Department      Gender
Accounting      Female    53
                Male      43
Engineering     Female    80
                Male      78
Finance         Female    69
                Male      51
Human Resources Female    64
                Male      61
IT              Female   119
                Male     122
Marketing       Female    57
                Male      63
Sales           Female    76
                Male      64

In [6]:
gp = data.groupby("Country").agg({"Age":"mean"})
print(gp)

                     Age
Country
Brazil         43.654676
China          45.389908
United States  44.197512

In [10]:
gp = data.groupby(["Country","Gender"]).agg({"Annual Salary":"max","Age":"min"})
print(gp)

                      Annual Salary  Age
Country       Gender
Brazil        Female         258426   25
              Male           249506   26
China         Female         249686   25
              Male           257194   25
United States Female         258498   25
              Male           258081   25

In [3]:
gp = data.groupby(["Country","Gender"]).agg({"Annual Salary":"max"})
print(gp)

                      Annual Salary
Country       Gender
Brazil        Female         258426
              Male           249506
China         Female         249686
              Male           257194
United States Female         258498
              Male           258081