In [6]:
import pandas as pd
data = pd.read_csv("company1.csv")
print(data)

    EEID      Name gender   salary
0  EMP01    ayushi      F      NaN
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali    NaN  27000.0
3  EMP01    ayushi      F  20000.0
4  EMP05       NaN      M  25000.0
5  EMP06     rohit      M      NaN
6  EMP02     rohit      M  25000.0

In [3]:
print(data.duplicated())  # normal

0    False
1    False
2    False
3    False
4    False
5    False
6     True
dtype: bool

In [4]:
print(data["EEID"].duplicated())  # specific column wise

0    False
1    False
2    False
3     True
4    False
5    False
6     True
Name: EEID, dtype: bool

In [8]:
print(data["EEID"].duplicated().sum())  # total column wise duplicates

2

In [12]:
print(data.drop_duplicates("EEID"))  # removed duplicates along columns but becareful it should be unique

    EEID      Name gender   salary
0  EMP01    ayushi      F      NaN
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali    NaN  27000.0
4  EMP05       NaN      M  25000.0
5  EMP06     rohit      M      NaN